# Assignment_1

# 1. In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.

solution:-

 *  - expression
 "hello"- value

  -87.8 - value
  - - expression

  / - expression
  + - expression

   6 - value

# 2. What is the difference between string and variable?

solution:-
    
    The string is 'krish'; the variable is krish. Strings always start and end with quotes.


    string can be written in quotes as mention
         "Imteyaz" (or) 'Imteyaz'
    A string is a value representing text
    All strings are variables, but not all variables are strings.


    Variable is a thing which helps in holding a data in entity.
    A variable is a name that can refer to any value
    A variable can hold a string, but a string can't hold a variable.

# 3.Describe three different data forms?

solution:-

i)    List is a collection which is ordered and changeable. Allows duplicate members. ex:-mylist = ["apple", "banana",           "cherry"]

ii)   Tuple is a collection which is ordered and unchangeable. Allows duplicate members. ex:-tuple1 = ("abc", 34, True, 40,       "male")

iii)  Set is a collection which is unordered and unindexed. No duplicate members. ex:-myset = {"apple", "banana", "cherry"}

iv)   Dictionary is a collection which is ordered* and changeable. No duplicate members. ex:-thisdict = { "brand": "Ford",       "model": "Mustang", "year": 1964 }

# 4. What is an expression made up of? What do all expressions do?

solution:-  
    expression is madeup of values,containers,and mathematical operators

# 5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?

solution:- 
As we discussed above,expressions are values,containers,and mathematical operators. whereas,statement is like a command which python executes like list

Statements represent an action or command e.g print statements, assignment statements.

print ('hello'), x = 1, spam = 10.

# 6. After running the following code, what does the variable bacon contain?
bacon = 22

bacon + 1

solution:-

In [2]:
bacon = 22
bacon + 1

23

# 7. What should the values of the following two terms be?
'spam' + 'spamspam'

'spam' * 3

solution:-

In [4]:
'spam'+'spamspam'

'spamspamspam'

In [5]:
'spam'*3

'spamspamspam'

Both expressions evaluate to the string

# 8. Why is eggs a valid variable name while 100 is invalid?

solution:-

    Variable names cannot start with a number.

# 9. What three functions can be used to get the integer, floating-point number, or string version of a value?

solution:-
    
    int() , float(), str()

# 10. Why does this expression cause an error? How can you fix it?
'I have eaten ' + 99 + ' burritos.'

solution:-
    
    The expression causes an error because 99 is an integer, and only strings can be concatenated to other strings with the + operator. if i fix then taken 99 as str(99) then run

In [13]:
'i have eaten' + str(99) + 'burritos'

'i have eaten99burritos'